$type-base-size: 1.25rem;
$type-mobile-size: 1rem;
$type-base-color: #000;
$type-dark-color: invert($type-base-color);
$background-base-color: #fff;
$background-dark-color: invert($background-base-color);
$border-base-color: #ccc;
$border-dark-color: invert($border-base-color);
$type-size-ratio: 1.11;
$margin-base: 2.5;
$padding-base: $margin-base;
$type-font-face: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;