@import 'variables';
@import 'responsive-typography';

html {
  background: $background-base-color;
}

body {
  min-height: 95vh;
  font: $type-base-size -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: clamp($type-base-size, strip-units($type-base-size) + 0.5vw, $type-base-size * 1.33);
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  margin: $margin-base * 1vh $margin-base * 1vw;
  background: $background-base-color;
  a, a:hover, a:visited {
    color: inherit;
  }
  ::selection {
    background: invert($background-base-color);
    color: invert($type-base-color);
    padding: 10px;
  }

  .skip-to-main {
    position: absolute;
    top: -66px;
    left: 0;
    z-index: 100;
    font-variant: small-caps;
    &:focus {
      top: 0;
      width: 100%;
      text-align: center;
    }
    &:hover {
    top: 0;
    }
  }
  .container {
    //height: 100%;
    display: flex;
    flex: 1 0 auto;
    > nav {
      flex-basis: 20%;
      flex-shrink: 0;
      padding: $padding-base * 1vh $padding-base * 1vw $padding-base * 1vh 0;
      ul {
        line-height: 2;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }
    > main {
      flex-grow: 1;
      //min-height: 70vh;
      padding: $padding-base * 1vh $padding-base * 1vw;
      > * { margin-bottom: $margin-base * 1vh; }
      > p { text-align: justify; }
    }
  }
}
header, footer {
  display: flex;
  flex: 0 0 max-content;
  justify-content: space-between;
  p, nav, address, ul { padding: 0; margin: 0 }
  .brand { font-weight: bold; }
  a, a:hover, a:visited {
    color: inherit;
  }
  ul {
    list-style-type: none;
    padding: inherit;
    margin: inherit;
  }
  li, a { display: inline; }
}
header {
  ul {
    a:first-child { margin-left: $margin-base * 1vw; }
  }
}
footer {
  clear: both;
  flex-shrink: 0;
  border-top: 1px dotted $border-base-color;
  padding-top: $padding-base * 0.5vh;
  ul {
    a:first-child { margin-right: $margin-base * 1vw; }
  }
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .5rem;
  margin-left: .5rem;
  height: 1px;
  border: 0;
  border-bottom: 1px dotted $border-base-color;
  display: flex;
  flex: 0 0 $margin-base * 0.5 vh;
  margin: $margin-base * 0.5vh 0;
  clear: both;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: invert($background-base-color);
    color: invert($type-base-color);
    hr { border-bottom-color: invert($border-base-color); }
    footer { border-top-color: invert($border-base-color); }
    ::selection { color: $type-base-color; background: $background-base-color }
  }
}
