@import 'variables';
@import 'responsive-typography';

html {
  background: $background-base-color;
  display: flex;
  height: 100%;
  flex-direction: column;
}

body {
  // base typography
  font: $type-base-size -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  font-size: clamp($type-base-size, strip-units($type-base-size) + 0.5vw, $type-base-size * 1.33);
  color: $type-base-color;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -- font colors
  a, a:hover, a:visited {
    color: inherit;
  }
  ::selection {
    background: invert($background-base-color);
    color: invert($type-base-color);
    padding: 10px;
  }

  // flexbox config
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 0 $margin-base * 1vw;

  // skip link
  .skip-to-main {
    position: absolute;
    top: $margin-base * -5vh;
    left: 0;
    z-index: 100;
    font-variant: small-caps;
    &:focus {
      top: 0;
      width: 100%;
      text-align: center;
    }
    &:hover {
      top: 0;
    }
  }

  // primary container
  .container {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: nowrap;
    margin: $margin-base * 1vh 0;
    // sidebar
    > nav, > details {
      display: flex;
      flex: 1 1 max-content;
      padding: $padding-base * 1vh $padding-base * 1vw $padding-base * 1vh 0;
      ul {
        line-height: 2;
        list-style-type: none;
        padding: 0;
        margin: 0;
      }
    }

    // main content
    > main {
      display: flex;
      flex: 1 1 auto;
      padding: $padding-base * 1vh $padding-base * 1vw;
      > .main-container {
        flex-basis: 100%;
        > * { margin-bottom: $margin-base * 1vh; flex-basis: 100%;}
        > p { text-align: justify; }
        > section {
          > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            text-align: justify;
            > li {

              display: flex;
              margin-bottom: $margin-base * 1vh;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: baseline;
              > a {
                flex: 1 0 fill;
              }
              > hr {
                flex: 1 1 $margin-base * 0.5vw;
                margin: $margin-base * 0.75vh $margin-base * 0.5vw;
              }
              > time {
                flex: 0 0 max-content;
              }
            }
          }
        }
      }
    }
  }

  // header and footer
  header, footer {
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $margin-base * 1vh 0;
    p, nav, address, ul { padding: 0; margin: 0 }
    .brand { font-weight: bold; }
    a, a:hover, a:visited {
      color: inherit;
    }
    ul {
      list-style-type: none;
      padding: inherit;
      margin: inherit;
      li {
        display: inline;
        &:not(:last-child) { margin-right: $margin-base * 1vw; }
      }
    }
  }
  header {
    border-bottom: 1px dotted $border-base-color;
  }
  footer {
    border-top: 1px dotted $border-base-color;
  }

  hr {
    flex: 0 0 $margin-base * 0.5vw;
    margin: 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-bottom: 1px solid $border-base-color;
  }
}

// media queries
// -- dark mode
@media (prefers-color-scheme: dark) {
  html, body {
    background: invert($background-base-color);
  }
  body {
    color: invert($type-base-color);
    ::selection { color: $type-base-color; background: $background-base-color }
    hr, header, footer { border-color: invert($border-base-color); }
  }
}

// -- mobile
@media (max-width:1023px) {
  body {
    .container {
      flex-direction: column;
      > nav, > details {
        flex-basis: auto;
      }
      > main {
        padding-left: 0;
        .main-container > section > ul > li {
          flex-wrap: wrap-reverse;
          flex-direction: row-reverse;
          justify-content: flex-end;
          > a {
            flex: 2 1;
          }
          > hr {
            flex: 0 0 0;
          }
        }
      }
    }
  }
}

// -- desktop
@media (min-width:1024px) {
  body {
    .container {
      > nav, > details {
        flex-basis: 20%;
      }
      > main {
        flex-basis: 80%;
      }
    }
  }
}
